<% layout("../layouts/boilerplate")%>
<body>
  <h3>Edit your product</h3><hr><br>
  <form method="POST" action="/buyandsell/merchant/edit/<%=product._id%>/<%=user._id%>">
    <!-- <textarea name="pname"><%=product.title%></textarea> -->
    <!-- <textarea name="pdesc"><%=product.description%></textarea> -->
    <!-- <textarea name="pimage"><%=product.imageurl%></textarea> -->
    <textarea name="pstock"><%=product.stock%></textarea>
    <textarea name="pprice"><%=product.price.toLocaleString("en-IN")%></textarea>
    <textarea name="ptags"><%=product.tags%></textarea>
    <button>Save</button>
  </form>
</body>