<% layout("../layouts/boilerplate")%>
<body><br><br>
  <h3 style="text-align: center;">Edit your product</h3><hr><br>
  <div style="text-align: center;">
    <form method="POST" action="/buyandsell/merchant/edit/<%=product._id%>/<%=user._id%>">
     <p><strong>Stock</strong></p>
    <textarea name="pstock"><%=product.stock%></textarea>
    <p><strong>Price</strong></p>
    <textarea name="pprice"><%=product.price%></textarea>
    <p><strong>Tags and keys</strong></p>
    <textarea name="ptags"><%=product.tags%></textarea>
    <button>Save</button>
  </form>
  </div>
</body>